*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*  ===============================
      Colors
      ===============================   */
  --tm-Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --bg-main-Verydarkblue: hsl(217, 54%, 11%);
  --bg-card-Verydarkblue: hsl(216, 50%, 16%);
  --line-Verydarkblue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-outfit: "Outfit", sans-serif;
  --fs-fontsize: 1rem;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --line-height: 1.6;
}

/* ==============================
   Spacing
   ==============================  */

.mb-16 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
/* ==============================
   Body
   ==============================  */

body {
  margin: 0;
  font-family: var(--ff-outfit);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-400);
  line-height: var(--line-height);
  background-color: var(--bg-main-Verydarkblue);
  color: var(--tm-Softblue);
  letter-spacing: 0.6px;
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ==============================
Layout
============================== */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ================================
   Typography
   ================================ */
